*, html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #33ccff 0%, #ffc600 100%);
    
    /* background-image: url('/img/drum.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */

}

kbd {
    display: block;
    font-size: 40px;
}

.keys {
    display: flex;
}

.key {
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: .5rem .5rem;
    transition: all 0.07s;
    width: 100px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 5px black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sound {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}

footer {
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
}

a:hover {
    color: #33ccff;
}